{% extends 'template.html' %}
{% load static %}


{% block headers %}
<link rel="stylesheet" href="{% static 'dropzone/dist/basic.css' %}">
<link rel="stylesheet" href="{% static 'dropzone/dist/dropzone.css' %}">
{% endblock %}
{% block content %}
<form method="post">
	{% csrf_token %}
	<ul class="list_form">
		{% for i in form%}
		<li><label for="id_{{i.name}}">{% cycle 'Nazwa' 'Ilość pomieszczeń' 'Projektor' 'TV' 'Klimatyzacja'%}:</label> {{i}}</li>
		{%endfor%}
	</ul>
	<input type="submit" name="submit" value="Dodaj">
</form>
{% if created_room_id %}
	<form action="{% url 'room_image_upload' pk=created_room_id%}" class="dropzone" id="my-awesome-dropzone">
		{% csrf_token %}
	</form>
{% endif %}

{% endblock %}
{% block scripts %}
<script src="{% static 'dropzone/dist/dropzone.js'%}"></script>
{% endblock %}
