{% extends 'template.html' %}

{% block content %}
<i class="fa fa-address-book" aria-hidden="true"></i>
Nazwa: {{room.name}}<br>
<div class="row div__detail">
    <div class="col-sm-6">
        <i class="fa fa-bed" aria-hidden="true"></i>
        Ilość pomieszczeń: {{room.capacity}}<br>
        <i class="fa fa-camera" aria-hidden="true"></i>
        Obecność projektora:
        {% if room.projector %}
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        {% else%}
            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
        {% endif %}
        <br>
        <i class="fa fa-television" aria-hidden="true"></i>
        Obecnosć telewizji:
        {% if room.tv %}
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        {% else%}
            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
        {% endif %}
        <br>
        <i class="fa fa-thermometer-empty" aria-hidden="true"></i>
        Klimatyzacja:
        {% if room.air_conditioning %}
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        {% else%}
            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
        {% endif %}
        <br>
	{% include "image_carousel.html" with images=room.images.all number=1 %}
    </div>
    <div class="col-sm-6">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        Zajęte terminy:<br><br>
		<ul class="list_terms">
            {% for term in  room.reservation_set.all %}
	    <li>
		    <a href="{% url 'reservation_delete' pk=term.pk %}">
               <i class="fa fa-times" aria-hidden="true"></i>
		    </a>
	       {{term.date}} by {{term.client}}
	    </li>
            {% endfor %}
	    	</ul>
        <br><br>
        <form action="/reservation/{{ room.id }}" method="POST">
            {% csrf_token %}
            <label for="date">
            Wybierz termin rezerwacji:
            </label>
             <input id="date" type="date" name="date">
            <label for="client">
		    Na kogo dokonać rezerwacji
	    </label>
             <input id="client" type="text" name="client">
	     <br />
        <button type="submit" class="btn btn-success">Zarezerwuj!</button>
        </form>
    </div>
</div>
{% endblock %}
