{% extends 'template.html' %}
{% load static %}

{% block headers %}
<link rel="stylesheet" href="{% static 'dropzone/dist/basic.css' %}">
<link rel="stylesheet" href="{% static 'dropzone/dist/dropzone.css' %}">
{% endblock %}
{% block content %}
<!-- {% for i in form%} -->
<!-- {{i}} -->
<!-- {%endfor%} -->
<form method="post">
	{% csrf_token %}
	<ul class="list_form">
		{% for i in form%}
		<li><label for="id_{{i.name}}">{% cycle 'Nazwa' 'Ilość pomieszczeń' 'Projektor' 'TV' 'Klimatyzacja'%}:</label> {{i}}</li>
		{%endfor%}
	</ul>
	<input type="submit" name="submit" value="Edytuj">
</form>
Dodaj obrazki
<form action="{% url 'room_image_upload' pk=form.instance.id%}" class="dropzone" id="my-awesome-dropzone">
	{% csrf_token %}
	<input type="hidden" id="initialImages" value="{{dropzone_fields}}" />
</form>
{% endblock %}

{% block scripts %}
<script src="{% static 'dropzone/dist/dropzone.js'%}"></script>
<script src="{% static 'dropzone/configuration.js'%}"></script>
{% endblock %}
