{% extends 'template.html' %}


{% block title %}formularz{% endblock %}
{% block content %}
<form action="/search" method="GET">
	<ul class="list_form">
		<li>
			<label for="number">Podaj minimalny rozmiar sali:</label>
			<input type="number" name="least_capacity">
		</li>
		<li>	
			<label for="projector">Dostępność rzutnika:</label>
			<input id="projector" type="checkbox" name="projector" value="check">
		</li>
		<li>
			<label for="date">Data rezerwacji:</label>
			<input id="date" type="date" name="date">
		</li>
	</ul>
	<input type="submit" value="Sprawdź">


</form>
{% endblock %}
