<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit room</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <label>Nazwa sali:
        <input type="text" name="name" value="{{rooms.name}}">
    </label><br>
    <label>Liczba osób, które sala może pomieścić:
        <input type="text" name="capacity" value="{{rooms.capacity}}">
    </label><br>
    <label>Projektor (wpisz "tak" lub "nie"):
        <input type="text" name="projector" value="{{rooms.projector}">
    </label><br>
    <label>Telewizor (wpisz "tak" lub "nie"):
        <input type="text" name="tv" value={{rooms.tv}}">
    </label><br>
    <label>Klimatyzacja (wpisz "tak" lub "nie"):
        <input type="text" name="air_conditioning" value={{rooms.air_conditioning}}>
    </label><br>
    <input type="submit" name="submit" value="Wyślij">
</form>
</body>
</html>