{% extends 'template.html' %}

{% block content %}
    {% for room in Rooms %}
        <a href="{% url 'room_detail' room.0.pk%}">{{room.0}}</a> &nbsp;
    wolna dziś:
    {% if today in room.1 %}
        <i class="fa fa-thumbs-down" aria-hidden="true"></i>
    {% else %}
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    {% endif %}<br>
    <button type="button" class="btn btn-warning">Edytuj</button>
    <a href="{% url 'room_delete' room.0.pk %}">
        <button type="button" class="btn btn-danger">Usuń</button>
    </a>
    <br><br>
    {% endfor %}
        <div>
        <form action="/room/new" method="GET">
            {% csrf_token %}
        <button type="submit" class="btn btn-success">Dodaj nową salę</button>
        </form>
    </div>


{% endblock %}